.form input[type="date"],
.form input[type="time"],
.form input[type="file"],
.form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form input[type="date"]:focus,
.form input[type="time"]:focus,
.form input[type="file"]:focus,
.form input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

.form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

button[type="submit"] {
    background-color: #007BFF;
    color: rgb(49, 49, 49);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
/* Add this to your styles.css or register.css file */

/* Ensure the modal content is positioned relatively */
.modal-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    margin: auto;
}

/* Position the close button in the upper right corner */
.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal .close:hover {
    color: #99312b;
}