body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Only hide horizontal overflow */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

form {
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-container p {
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}


/* Rest of your existing CSS remains the same */

/* Rest of your existing CSS */

form h1.form-h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Source Code Pro", monospace;
    margin-bottom: 30px;
    color: inherit; 
}

form label {
    display: block;
    margin-bottom: 1vh;
    font-weight: 500;
    color: #333;
    font-size: 2.5vmin;
}

form input {
    width: 100%;
    padding: 1.5vh;
    margin-bottom: 2vh;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2.5vmin;
    transition: border-color 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form input:focus {
    outline: none;
    border-color: #737FD0;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.2);
}

form button {
    display: inline-block;
    padding: 1.5vh 0;
    width: 100%;
    font-size: 2.5vmin;
    font-weight: bold;
    font-family: var(--main-font-stack);
    color: #000000;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #F99B8F, #E0E382 40%, #53E965 69%, #737FD0);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 2vh;
}

form button:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
.success-message {
    margin-top: 10px;
    text-align: center;
    background: linear-gradient(90deg, #88544d, #8d8f52 40%, #3a9b45 69%, #4d5589);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
}
