.profile-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-info {
    flex-grow: 1;
    text-align: left;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}

.profile-details h3 {
    color: #444;
    margin-top: 20px;
}

.profile-details p {
    color: #666;
}

.profile-details ul {
    list-style-type: none;
    padding: 0;
}

.profile-details ul li {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.edit-button {
    padding: 10px 20px;
    background: var(--secondary-color--);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-weight: bold;
    font-size:16px;
}

.edit-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
}
