body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #fbfbfb;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #252525;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item.active a,
.menu-item a:hover {
    background-color: #18BC9C;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
