body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 10px auto; /* Reduced margin */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
}
.header {
    position: relative;
    text-align: center;
    color: white;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header .overlay h1 {
    font-size: 2.5rem;
    margin: 0;
}

.content {
    padding: 15px; 
}

.content h2 {
    color: #333;
}

.content p {
    line-height: 1.6;
    color: #555;
}

.features {
    margin: 15px 0; 
}

.features ul {
    list-style: disc;
    margin: 5px 0 5px 20px; 
}

.volunteer-role {
    margin: 15px 0; 
}

.image-container {
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
    overflow: hidden; 
}

.image-container img {
    width: 65%; 
    height: auto; 
    display: block; 
}

.event-details {
    padding: 5px; 
}

.event-details h1 {
    font-size: 24px;
    margin-bottom: 15px; 
    color: #3e3e3e;
    text-align: center;
}

.event-details ul {
    list-style: none;
    padding: 0;
}

.event-details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.event-details i {
    font-size: 18px;
    margin-right: 10px;
}

.event-details small {
    font-size: 16px;
    color: #555;
}

.event-details a {
    color: #5da0f1;
    text-decoration: none;
}

.event-details a:hover {
    text-decoration: underline;
}

.status-completed {
    color: 007bff;
    font-weight: bold;
}

.status-ongoing {
    color: #47ec4a;
    font-weight: bold;
}

.status-cancelled {
    color: red;
    font-weight: bold;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px; 
}

.edit-button {
    background-color: #81b182; 
    border: none;
    color: white;
    padding: 5px 10px; 
    text-align: center;
    text-decoration: none;
    font-size: 14px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #45a049; 
}

.complete-button {
    background-color: #5da0f1; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}
.complete-button:hover {
    background-color: #264871; 
}

.cancel-button {
    background-color: #f47575; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #ca0b0b; 
}